<br>
    <a href="/rooms"> <button class="btn btn-primary"> Volver a Habitaciones </button></a>
    
<h2> Crear una nueva habitación </h2>

<div class="container">
    <form class="form" action="/rooms" method="POST" id="form">
        <table class="table table-hover table-responsive">   
         <tbody>        
            <tr>
                <td> <label for="category"> Categoría: </label> </td>
                <td>    
                    <select class="form-control" name="category" id="category" type="text" required>
                        <option value="Standard">Estándar</option>
                        <option value="Suite">Suite </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td> <label for="type"> Tipo: </label> </td>
                <td> 
                    <select class="form-control" name="type" id="type" type="text" required>
                            <option value="Doble">Doble</option>
                            <option value="Triple">Triple </option>
                            <option value="Cuádruple">Cuádruple </option>
                            <option value="Individual">Individual </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td> <label for="view"> Vistas: </label> </td>
                <td> <input type="text" name="view" id="view" required> </td>
            </tr>

            <tr>
                <td> <label for="capacity"> Màximo de personas: </label> </td>
                <td> <input type="number" name="capacity" id="capacity" required> </td>
            </tr>
                <br>
            <tr>
                <td> <label for="size"> Tamaño en m2: </label></td>
                <td> <input type="number" name="size" id="size" required> </td>
            </tr>
            <br>
            <tr>
                <td> <label for="size"> Tipo de cama: </label></td>
                <td>
                    <select class="form-control" name="typeOfBed" id="typeOfBed" type="text" required>
                            <option value="Matrimonio">Cama de Matrimonio</option>
                            <option value="Separadas">Dos camas individuales </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="description"> Descripción: </label> </td>
                <td> <input type="text" name="description" id="description" required> </td>
            </tr>
            <tr>
                <td> <label for="price"> Precio: </label> </td>
                <td> <input type="number" name="price" id="price" required> </td>
            </tr>

            <tr>
                <td colspan=2> <button> Guardar y crear una nueva habitación </button> </td>
            </tr>
        </tbody>
    </table>
 </form>
</div>