<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='http://localhost:3000/font-awesome/css/font-awesome.min.css'/>
  <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
  <title>My first hotel website</title>
</head>
<body>

<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbarTitle" href="/">Bienvenido a Hotel Test </a> 
      <div class="navbar-header navbar-right">
        <% if (!checkIfIsLogged) { %>
        <button type="button" class="btn btn-primary signUpBtn" data-toggle="modal" data-target="#signUpModal"> Regístrate </button> 
        <button type="button" class="btn btn-primary loginBtn" data-toggle="modal" data-target="#loginModal"> Iniciar Sesión </button>
        <% } if (checkIfIsLogged) { %>
        <a class="index-a" href="/rooms"> <button type="button" class="btn btn-primary roomsBtn"> Rooms </button> </a> 
        <a class="index-a" href="/users"> <button type="button" class="btn btn-primary usersBtn"> Usuarios </button> </a> 
        <a class="index-a" href="/bookings/myBookings"> <button type="button" class="btn btn-primary myBookBtn"> Mis reservas </button> </a> 
        <a class="index-a" href="/auth/logout"> <button type="button" class="btn btn-primary roomsBtn"> Cerrar Sesión </button> </a> 
        <% } %>

        
    </div>
  </div>
</nav>

    <%- body %> 
    
<footer class="footer">
<!-- SIGNUP Modal -->
  <div class="modal fade" id="signUpModal" role="dialog">
    <div class="modal-dialog">
                  
    <!-- SIGNUP Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Proceso de registro </h4>
        </div>
      
        <div class="modal-body">
        <!--  SIGNUP Form content -->
          <form action="/auth/signup" method="POST" id="form">
            <label for="username">Nombre de Usuario </label>
            <input id="username" type="text" name="username" placeholder="Nombre de Usuario" required>
            <br><br>
            <label for="password">Contraseña</label>
            <input id="password" type="password" name="password" placeholder="Contraseña" required>
            <br><br>
            <label for="name">Nombre </label>
            <input id="name" type="text" name="name" placeholder="¿Cómo te llamas?" required>
            <br><br>
            <label for="country">País de Origen</label>
            <input id="country" type="text" name="country" placeholder="¿En qué país naciste?" required>
            <br><br>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email dónde recibirás las reservas" required>
                            
            <% if (typeof message !== "undefined") { %>
                <div class="error-message"><%= message %></div>
            <% } %>
            <br><br>
            
            <button>Crear Cuenta</button>
            <br><br>
            <p class="separator"> or login with </p>
            <a href="auth/facebook" class="btn btn-primary fbkBtn" style="border-radius: 0px;"> 
                <i class="fa fa-facebook" aria-hidden="true"></i>Facebook </a>
            <a href="auth/google" class="btn btn-danger GoogleBtn" style="border-radius: 0px;"> 
                <i class="fa fa-google-plus" aria-hidden="true"></i>Google </a>
            <br><br>
            <p class="account-message">
              ¿Ya estás registrado?<a href="/auth/login"> Inicia Sesión</a>
            </p>
            <p class="account-message">
              ¿Perdido?<a href="/"> Volver al menú principal  </a>
            </p>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
                    
    </div>
  </div>
  <!-- LOGIN Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
                  
    <!--  LOGIN Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Iniciar Sesión</h4>
        </div>
          
          <div class="modal-body">
          <!--  LOGIN Form content -->
            <form action="/auth/login" method="POST" id="form">
                <label for="username">Nombre de Usuario </label>
                <input id="username" type="text" name="username" placeholder="Nombre de Usuario" required>

                <br><br>

                <label for="password">Contraseña</label>
                <input id="password" type="password" name="password" placeholder="Contraseña" required>

                    <% if (typeof message !== "undefined") { %>
                        <div class="error-message"><%= message %></div>
                    <% } %>
                <br><br>
                
                <button>Acceder</button>
                <br><br>
                <a href="auth/facebook" class="btn btn-primary fbkBtn" style="border-radius: 0px;"> 
                  <i class="fa fa-facebook" aria-hidden="true"></i>Facebook </a>
                <a href="auth/google" class="btn btn-danger GoogleBtn" style="border-radius: 0px;"> 
                  <i class="fa fa-google-plus" aria-hidden="true"></i>Google </a>

                <br><br>

                <p class="account-message">
                  ¿No estás registrado? <a href="/auth/signup">Regístrate aquí</a>
                </p>
                <br>
                <p class="account-message">
                  ¿Perdido? <a href="/"> Volver al menú principal  </a>
                </p>
            </form> 
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://localhost:3000/javascripts/front.js"></script>
</body>
</html>