
<header class="header">
  <div class="header-img">
      <section class="calendarAndTitle"> 
              <form class="form-inline" action="/bookings" method="POST" id="form">
                  <label class="checkin" for="checkInDate">Fecha de entrada</label>
                  <input id="checkInDate" type="date" name="checkInDate" >
                    <br><br>
                  <label class="checkout" for="checkOutDate">Fecha de salida</label>
                  <input id="checkOutDate" type="date" name="checkOutDate"  >
                    <br><br>
                  <button class="btn btn-primary">Consultar disponibilidad</button>
                    <br><br>
              </form>

        <h1> Hotel Rural Can Gasull </h1>
        <h3> Siéntete como en casa </h3> 
          <div class="btn aboutUs">
            <span> Descubrir </span>
          </div>
      </section>
      <img src="./images/garden.jpg" alt="garden">
  </div>
</header>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 features">
    <span> <i class="glyphicon glyphicon-cloud"> </i>
    <p><h3><strong>Desayuno incluido</strong></h3></p>
    <p> Cum sociis natoque penatibus et magnis dis parturient <br>
      montes, nascetur ridiculus mus. Vestibulum vehicula erat <br>
      non congue cursus. Aenean auctor nulla quis augue <br>
      dictum, sed sagittis odio varius
    </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 features">
    <span> <i class="glyphicon glyphicon-star"> </i>
      <p><h3><strong>Cancelación gratuita</strong></h3></p>
      <p> Duis tempus leo vitae ipsum viverra, blandit condimentum  <br>
        sapien porttitor. Duis porttitor sed metus eget mollis.  <br>
        Curabitur bibendum imperdiet tortor, ut pulvinar purus  <br>
        elementum nspendisse at erat luctus.
      </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 features">
    <span> <i class="glyphicon glyphicon-heart"> </i>
        <p><h3><strong>Servicio personalizado </strong></h3></p>
        <p> Cras aliquet venenatis porttitor. Donec rutrum sapien et  <br>
          sapien dignissim, eu dapibus mi molestie. Suspendisse  <br>
          dictum convallis quam et sodales. Praesent non enim et  <br>
          magna congue gravida.
        </p>
  </div>
</div>

